<div class="min-h-screen">

    <div class="pt-[60px] flex items-center justify-center mt-2">
        <label for="profile-image" class="rounded-full h-24 w-24 overflow-hidden flex items-center justify-center">
          <img id="preview-image" src="../../assets/donate.jpg" alt="Profile Image" class="w-full h-auto">
        </label>
    </div>

    <h1 class="mt-2 text-3xl font-bold text-center text-[#394867]">
        Donate
    </h1>
    
    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Name
    </h1>
    <div class="flex items-center justify-center mt-2">
        <input type="text" placeholder="Enter your name" class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
    </div>  

    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Phone Number
    </h1>
    <div class="flex items-center justify-center mt-2">
        <input type="text" placeholder="Enter your phone number" class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
    </div> 
    
    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Address
    </h1>
    <div class="flex items-center justify-center mt-2">
        <textarea placeholder="Enter your address" class="w-[75%] rounded-lg p-4 bg-white shadow-md border border-gray-300 resize-none focus:outline-none focus:border-blue-500"></textarea>
    </div>

    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Quantity
    </h1>
    <div class="flex items-center justify-center mt-2">
        <input type="text" placeholder="Enter your quantity" class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
    </div>  

    <button
    class="flex items-center justify-center bg-[#394867] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded w-3/4 mx-auto mt-[24px]"
    (click)="submit()"
  >
    Submit
  </button>

  <button
    class="flex items-center justify-center hover:bg-[#A30909] bg-[#EA5E5E] text-white font-bold py-2 px-4 rounded w-3/4 mx-auto mt-[16px]"
  >
    Cancel
  </button>

</div>
