<div class="min-h-screen bg-white">
  <div class="pb-[16px]"></div>
  <!-- Search Box -->
  <form>
    <div
      class="fixed top-0 left-0 right-0 flex justify-center items-center mt-5"
    >
      <div class="relative">
        <svg
          aria-hidden="true"
          class="absolute w-5 h-5 text-gray-500 dark:text-gray-400 left-6 top-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
        <input
          type="search"
          class="w-[450px] p-4 pl-14 text-sm border rounded-full ring-1 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Search Items..."
        />
      </div>
    </div>
  </form>

  <h1 class="pt-[100px] text-3xl font-bold text-center text-[#394867]">
    Your Items
  </h1>

  <!-- ADD Box -->
  <div class="fixed bottom-24 ml-[400px]">
    <button
      class="flex items-center justify-center w-16 h-16 bg-[#394867] hover:bg-blue-500 text-white rounded-full shadow-lg"
    >
      <svg
        aria-hidden="true"
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        ></path>
      </svg>
    </button>
  </div>

  <!-- Items -->
  <div class="mt-2 flex flex-wrap justify-center">
    <div
      class="rounded shadow-lg basis-1/2 m-5 cursor-pointer hover:bg-[#f4f4f4]"
    >
      <img
        class="w-32 mx-auto"
        src="https://cdn.pixabay.com/photo/2018/07/16/05/42/skincare-3541261_1280.png"
      />
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base">Alvian</p>
        <p class="font-bold text-md">Skincare</p>
        <p class="text-gray-700 text-base">Items: 2/100</p>
        <p class="text-[#2DBE15] font-bold text-base">Points: 20/item</p>
      </div>
    </div>

    <div
      class="rounded shadow-lg basis-1/2 m-5 cursor-pointer hover:bg-[#f4f4f4]"
    >
      <img
        class="w-32 mx-auto"
        src="https://cdn.pixabay.com/photo/2018/07/16/05/42/skincare-3541261_1280.png"
      />
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base">Alvian</p>
        <p class="font-bold text-md">Skincare</p>
        <p class="text-gray-700 text-base">Items: 2/100</p>
        <p class="text-[#2DBE15] font-bold text-base">Points: 20/item</p>
      </div>
    </div>

    <div
      class="rounded shadow-lg basis-1/2 m-5 cursor-pointer hover:bg-[#f4f4f4]"
    >
      <img
        class="w-32 mx-auto"
        src="https://cdn.pixabay.com/photo/2018/07/16/05/42/skincare-3541261_1280.png"
      />
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base">Alvian</p>
        <p class="font-bold text-md">Skincare</p>
        <p class="text-gray-700 text-base">Items: 2/100</p>
        <p class="text-[#2DBE15] font-bold text-base">Points: 20/item</p>
      </div>
    </div>

    <div
      class="rounded shadow-lg basis-1/2 m-5 cursor-pointer hover:bg-[#f4f4f4]"
    >
      <img
        class="w-32 mx-auto"
        src="https://cdn.pixabay.com/photo/2018/07/16/05/42/skincare-3541261_1280.png"
      />
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base">Alvian</p>
        <p class="font-bold text-md">Skincare</p>
        <p class="text-gray-700 text-base">Items: 2/100</p>
        <p class="text-[#2DBE15] font-bold text-base">Points: 20/item</p>
      </div>
    </div>

    <div
      class="rounded shadow-lg basis-1/2 m-5 cursor-pointer hover:bg-[#f4f4f4]"
    >
      <img
        class="w-32 mx-auto"
        src="https://cdn.pixabay.com/photo/2018/07/16/05/42/skincare-3541261_1280.png"
      />
      <div class="px-6 py-4">
        <p class="text-gray-700 text-base">Alvian</p>
        <p class="font-bold text-md">Skincare</p>
        <p class="text-gray-700 text-base">Items: 2/100</p>
        <p class="text-[#2DBE15] font-bold text-base">Points: 20/item</p>
      </div>
    </div>
  </div>

  <div class="pb-[20%]"></div>
</div>
