<div class="min-h-screen">
  <h1 class="pt-[24px] text-3xl font-bold text-center text-[#394867]">
    Upload Your Item
  </h1>

  <h1 class="pt-[16px] font-bold text-center text-[#394867]">
    Upload Photo
  </h1>

  <div class="flex items-center justify-center mt-2">
    <label for="profile-image"
      class="rounded-full h-24 w-24 overflow-hidden bg-gray-200 flex items-center justify-center">
      <img id="preview-image" [src]="previewImageUrl" alt="Profile Image" class="w-full h-auto">
      <span *ngIf="imageUploaded" class="absolute top-0 right-0 h-5 w-5 bg-green-500 rounded-full"></span>
    </label>
    <input type="file" id="profile-image" class="hidden" (change)="handleFileInput($event)">
  </div>

  <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
    Item  Name
  </h1>
  <div class="flex items-center justify-center mt-2">
    <input type="text" placeholder="Enter your name" [(ngModel)]="itemName"
      class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
  </div>

  <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
    Description
  </h1>
  <div class="flex items-center justify-center mt-2">
    <textarea placeholder="Enter your description" [(ngModel)]="description"
      class="w-[75%] rounded-lg p-4 bg-white shadow-md border border-gray-300 resize-none focus:outline-none focus:border-blue-500"></textarea>
  </div>

  <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
    Quantity
  </h1>
  <div class="flex items-center justify-center mt-2">
    <input type="text" placeholder="Enter your quantity" [(ngModel)]="neededAmount"
      class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
  </div>

  <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
    Point per item
  </h1>
  <div class="flex items-center justify-center mt-2">
    <input type="text" placeholder="Enter your point per item" [(ngModel)]="pointsPerItem"
      class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
  </div>

  <p class="font-bold ml-16 mt-4 text-[#394867]">Category</p>
  <select [(ngModel)]="selectedCategoryOption" id="payment-method"
    class="bg-[#394867] mx-auto mt-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[75%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="">Choose categories</option>
    <option *ngFor="let option of selectOptionData" [value]="option">{{ option }}</option>
  </select>

  <p class="font-bold ml-16 mt-4 text-[#394867]">Sub Category</p>
  <select *ngIf="selectedCategoryOption === 'Organic'" [(ngModel)]="selecterSubCategoryOption"
    class="bg-[#394867] mx-auto mt-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[75%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="">Choose subcategory</option>
    <option *ngFor="let option of organicData" [value]="option">{{ option }}</option>
  </select>

  <select *ngIf="selectedCategoryOption === 'Paper'" [(ngModel)]="selecterSubCategoryOption"
    class="bg-[#394867] mx-auto mt-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[75%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="">Choose subcategory</option>
    <option *ngFor="let option of paperData" [value]="option">{{ option }}</option>
  </select>

  <select *ngIf="selectedCategoryOption === 'Plastic'" [(ngModel)]="selecterSubCategoryOption"
    class="bg-[#394867] mx-auto mt-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[75%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value="">Choose subcategory</option>
    <option *ngFor="let option of plasticData" [value]="option">{{ option }}</option>
  </select>

  <button
  class="flex items-center justify-center bg-[#394867] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded w-3/4 mx-auto mt-[24px]"
  (click)="submit()"
  [disabled]="loading">
  <span *ngIf="!loading">Upload Now</span>
  <span *ngIf="loading" class="spinner"></span>
</button>


</div>
