<div class="min-h-screen">
    <h1 class="pt-[24px] text-3xl font-bold text-center text-[#394867]">
        Upload Your Item
    </h1>

    <h1 class="pt-[16px] font-bold text-center text-[#394867]">
        Upload Photo
    </h1>
    
    <div class="flex items-center justify-center mt-2">
        <label for="profile-image" class="rounded-full h-24 w-24 overflow-hidden bg-gray-200 flex items-center justify-center">
          <img id="preview-image" src="../../assets/default-avatar.png" alt="Profile Image" class="w-full h-auto">
        </label>
        <input type="file" id="profile-image" class="hidden">
    </div>
      
    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Name
    </h1>
    <div class="flex items-center justify-center mt-2">
        <input type="text" placeholder="Enter your name" class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
    </div>  
    
    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Description
    </h1>
    <div class="flex items-center justify-center mt-2">
        <textarea placeholder="Enter your description" class="w-[75%] rounded-lg p-4 bg-white shadow-md border border-gray-300 resize-none focus:outline-none focus:border-blue-500"></textarea>
    </div>

    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Quantity
    </h1>
    <div class="flex items-center justify-center mt-2">
        <input type="text" placeholder="Enter your quantity" class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
    </div>  

    <h1 class="pt-[16px] font-bold ml-[13.5%] text-[#394867]">
        Point per item
    </h1>
    <div class="flex items-center justify-center mt-2">
        <input type="text" placeholder="Enter your point per item" class="w-[75%] rounded-lg p-2 bg-white shadow-md border border-gray-300 focus:outline-none focus:border-blue-500">
    </div>  

    <button
    class="flex items-center justify-center bg-[#394867] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded w-3/4 mx-auto mt-[24px]"
  >
    Upload Now
  </button>

</div>
