<div class="min-h-screen">
    <div class="pt-[40px] ml-[80px]">
        <div class="flex items-center">
          <label for="profile-image" class="rounded-full h-32 w-32 overflow-hidden bg-gray-200 flex items-center justify-center">
            <img id="preview-image" src="https://i.pinimg.com/originals/b9/68/56/b96856b18abfe860f9edc3dec1f12aab.jpg" alt="Profile Image" class="w-full h-auto">
          </label>
          <div class="ml-[40px]">
            <p class="font-bold mb-2 text-3xl ">Alvian</p>
            <button class="bg-[#212A3E] font-bold hover:bg-blue-600 text-white py-2 px-2 rounded text-sm">Go To Profile</button>
          </div>
        </div>
      </div>

      
</div>
