<div class="min-h-screen">
  <h1 class="pt-[100px] text-3xl font-bold text-center text-[#394867]">
    Top Up Point
  </h1>
  <h1 class="mt-4 text-3xl font-bold text-center text-[#394867]">
    {{ formattedPoint }}
  </h1>

  <input
    type="text"
    #customPointInput
    name="custom-point"
    placeholder="Enter your custom point..."
    class="block w-3/5 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 p-5 mx-auto mt-4"
    (input)="handleInputChange(customPointInput.value)"
  />

  <div class="flex justify-center items-center mt-5 flex-wrap">
    <div *ngFor="let option of topUp">
      <button
        class="button-top-up basis-1/3 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded shadow m-5 w-[100px] text-[#212A3E] font-normal"
        (click)="updatePoint(option.topUpPoint)"
      >
        {{ option.topUpPoint }}
      </button>
    </div>
  </div>

  <button
    class="flex items-center justify-center bg-[#394867] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded w-3/4 mx-auto mt-[40px]"
    (click)="submit()"
  >
    Continue
  </button>
</div>
