<div class="min-h-screen">
    <div class="pb-1"></div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-28 h-28 flex mx-auto text-[#394867] mt-52">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="flex items-center">
        <p class="text-sm text-[#394867] mx-auto font-bold">Transaction success!</p>
    </div>
    <div class="flex items-center">
        <p class="text-sm text-[#394867] mx-auto font-normal">Thanks for donating, your point will be added!</p>
    </div>
    
    <button routerLink="/home"
    class="flex items-center justify-center bg-[#394867] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded w-3/4 mx-auto mt-[40px]">
      Continue
    </button>  
    
  </div>
  